# Build
**/target/
**/build/
**/out/

# IDE
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# Eclipse / STS
**/.classpath
**/.project
**/.settings/
**/.apt_generated
**/.factorypath
**/.springBeans
**/.sts4-cache

# Logs
**/*.log

# Env
.env
.env.*

# Local Config
application-local.yml
application-local.yaml

# OS
.DS_Store
Thumbs.db